<a class="header-menu" data-menu="public" href="/">Home</a>
<a class="header-menu" data-menu="public" href="/proprietario.html">Registrati</a>

<a class="header-menu" data-menu="private" href="/dashboard.html">Dashboard</a>
<a class="header-menu" data-menu="private" href="/immobile.html">Nuovo immobile</a>
<a class="header-menu" data-menu="private" href="/inquilino.html">Nuovo inquilino</a>
<a class="header-menu" data-menu="private" href="/contratto.html">Nuovo contratto</a>
<button data-menu="private" id="logout" type="button">Esci</button>
